body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}
.form-error-message{
    color: red;
    display: none;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.new-book{
    margin-bottom: 20px;
}
.book-cover-mic{
    width: 35px;
}
.book-cover{
    width: 100%;
}
.bt-act-cart{
    margin-top: 20px;
}
.invizibil{
    display: none;
}