extend layout

block content
  .container.theme-showcase
    .col-xs-12.col-sm-3
      .input-group
        input#search-book-input.form-control(type='text')
        span.input-group-addon
          i.fa.fa-search
      br
      .list-group
        - i = 0
        for book in books
          a.book-list-item.list-group-item(href='#', class=(++i==1 ? 'active' : ''), data-book-id="#{book._id}")= book.bookTitle
    .col-xs-12.col-sm-9#book-info
      - book = books[0]
      if book
        include admin_book