extend layout

block content
  .container.theme-showcase
    .col-xs-12.col-sm-12
      table.table.table-striped
        thead
          tr
            th #
            th First Name
            th Last Name
            th Username
        tbody
          tr
            td 1
            td Markaka
            td Otto
            td @mdo
          tr
            td 2
            td Jacob
            td Thornton
            td @fat
          tr
            td 3
            td Larry
            td the Bird
            td @twitter
  