!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Adrmin - Login Page
    
    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    link(href='/assets/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/assets/css/login.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    
  body
    .container
      form.form-signin(role='form', action='/admin/login', method='POST')
        h2.form-signin-heading Please sign in
        input.form-control(type='text', name='username', placeholder='Email address', required='required', autofocus='autofocus')
        input.form-control(type='password', name='password', placeholder='Password', required='required')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
