
if book
  .book-description(id="book_"+book._id)
    .col-xs-12.col-sm-5
        img.book-cover(src='/images/'+book._id, alt='')
        br
        .btn-group.bt-act-cart
          button.btn.btn-default(data-toggle='modal', data-target='#newBookModal', type='button')
            i.fa.fa-edit
            | Edit
          button.btn.btn-default(data-toggle='modal', data-target='#QRCodesModal'+book._id, type='button')
            i.fa.fa-barcode
            | QR Code
          button#delete-book-button.btn.btn-default(type='button')
            i.fa.fa-trash-o
            | Delete
    .col-xs-12.col-sm-7
      h2= book.bookTitle
      .panel.panel-info
        .panel-heading
          h3.panel-title Book details
        .panel-body
          h4 Autor: #{book.bookAuthor}
          h4 An: #{book.bookYear}
          // h4 Editura: nbiunbwiudnwiun
      .delete-book-alert.alert.alert-danger.invizibil
        button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
        h4 Are you sure?!
        p Once removed, the book cannot be restored!
        p
          a(href='/admin/delete/'+book._id)
            button#confirm-btn-delete-book-alert.btn.btn-danger(data-book-id=book._id, type='button')
              i.fa.fa-trash-o
              | Delete this book
          button#close-btn-delete-book-alert.btn.btn-default(type='button') Cancel
          
  .modal.fade(id='QRCodesModal'+book._id, tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Generate QRCodes
        .modal-body
          form#newBookForm2(role='form', action='/admin/generateQRCodes/QRCodes_#{book.bookTitle}.zip', method='post')
            input.form-control.invizibil(type='text', name='bookID', value=book._id)
            .form-group
              label(for='inputGenerateQRCodes') Number of QRCodes to generate:
              input#inputGenerateQRCodes.form-control(type='number', placeholder='Number of QRCodes', name='count')
              p.form-error-message The number must be between 1 and 1000
            button.btn.btn-primary(type='submit') Submit