!!! 5
html(lang='en')
head
    title editor text
    style.
      #editor {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      }
      #buton {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000;
      }
      .centrat {
      position: relative;
      z-index: 1000;
      display:block;
      vertical-align: middle;
      margin:auto;
      }
  body
    button(id="buton" type="button") Next
    #editor= xml_content

    script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
    script(src='/js/jquery-1.11.0.min.js', type='text/javascript')
    script(src='/js/editor.js', type='text/javascript')
    script.
      //var el = document.getElementById("editor").innerHTML;
      var editor = ace.edit("editor");
      var jarID = [666,3,5,2];
      var t = window.location.search.split("/");
      var path = t[t.length-1];
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/xml");

