!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Adminka - Books
    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    link(href='/assets/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/assets/css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    //
       Fixed navbar 
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Admin
        if view!='index'
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='/admin')
                  i.fa.fa-home.fa-fw
                  | Home
              li(data-toggle='modal', data-target='#newBookModal')
                a(href='#')
                  i.fa.fa-book.fa-fw
                  | New Book
              li
                a(href='/admin/users')
                  i.fa.fa-users.fa-fw
                  | Users
              li
                a(href='/admin/logout')
                  i.fa.fa-sign-out.fa-fw
                  | Logout
                
    block content
    
    //
       Modal 
    #newBookModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add New Book
          .modal-body
            form#newBookForm(role='form', action='/admin/newBook', method='post', enctype="multipart/form-data")
              .form-group
                label(for='inputNewBookName') Book Title:
                input#inputNewBookName.form-control(type='text', placeholder='Book name', name='bookTitle')
              .form-group
                label(for='inputNewBookAuthor') Author:
                input#inputNewBookAuthor.form-control(type='text', placeholder='Author', name='author')
              .form-group
                label(for='inputNewBookYear') Year:
                input#inputNewBookYear.form-control(type='text', placeholder='Year', name='year')
              .form-group
                label(for='exampleInputFile') Book cover image
                input#exampleInputFile(type='file', name='coverImage')
                p.help-block Image must be .png or .jpg
              .form-group
                label(for='exampleInputFile') Book content
                input#exampleInputFile(type='file', name='bookContent')
                p.help-block File must be .txt or .pdf
              button.btn.btn-primary(type='submit') Submit

    script(src='/assets/js/jquery-1.10.2.min.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/holder.js')
    script(src='/assets/js/script.js')
